.single {
  padding: 2px 16px;
  background: #fff;
  display: block;
  margin: 20px 10px;
  border: 1px solid #fff;
  border-left: 8px solid #fff;
}

.single:hover {
  border-left: 8px solid #4979ff;
}
